body {
  width: 850px;
  margin: auto;
  background: #fff;
  font-size: 15px;
  font-family: "Times New Roman", Georgia, Serif;
}
/* heading 3 */
h3 {
  font-size: 1.75em;
}
/* heading 5 */
h5 {
  font-size: 1.25em;
  margin: 10px 0 10px 0;
}
/* site header */
header {
  border-bottom: 1px solid #dedede;
}
/* site header paragraph */
header p {
  font-size: 1.25em;
  font-style: italic;
}
/* site main content category */
main {
  overflow: auto;
  padding: 15px 0 15px 0;
}
/* input field for note */
.note-input input {
  width: 40%;
}
/* add button for note */
button {
  padding: 2px;
  margin-left: 5px;
  border-radius: 0;
  border: 1px solid #dedede;
  cursor: pointer;
}

#delete-all {
  margin-top: 10px;
  margin-left: 0px;
  color: red;
}

.note-output p {
  margin-right: 5%;
}

.note-output .del-link {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
}

.note-output div {
  position: relative;
}

/* even note paragraph output */
.note-output div:nth-child(even) {
  background-color: #ccc;
}
/* odd note paragraph output */
.note-output div:nth-child(odd) {
  background-color: #eee;
}

/* site footer */
footer {
  margin-top: 5px;
  border-top: 1px solid #dedede;
}
/* site footer paragraph */
footer p {
  font-size: 0.8em;
}
